.bgMain {
  background-image: url(../../../assets/backgroundMain.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.heroMain {
  background-image: url(../../../assets/herpMobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 343px;
  background-position-y: 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @media (min-width: 768px) {
    height: 850px;
    background-position-y: -4rem;
    place-content: center;
  }
  .logohero {
    width: 215px;
    display: initial;
    position: relative;
    top: -10px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
.headerContainer {
  background-color: #24201d;
  width: 100%;
  height: 100px;
  gap: 1rem;
  @media (min-width: 768px) {
    height: 200px;
    gap: 2rem;
  }
  img {
    width: 20px;
    height: 20px;
    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
  h2 {
    color: white;
    font-size: 60px;
    line-height: 0.7;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 146px;
      margin-top: -22px;
    }
  }
}

.headerGold {
  background-color: #85783e;
  height: 250px;
  h2 {
    color: white;
    font-size: 50px;
    line-height: 0.7;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 146px;
      margin-top: -22px;
    }
  }
}

.list-nav {
  display: flex;
  gap: 0.5rem;
  @media (min-width: 768px) {
    gap: 2rem;
  }
  li {
    cursor: pointer;
    a {
      font-size: 30px;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(black, black);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s;
      color: #24201d;
    }

    a:hover,
    a:focus {
      background-size: 100% 2px;
    }

    .itemActive {
      background-color: black;
      color: white;
    }
    .subMenu {
      background-color: black;
      color: white;
      display: none;
      position: absolute;
      li:hover {
        background-color: rgb(48, 48, 48);
      }
    }
  }
}

.list-nav li:hover .subMenu {
  display: block;
}

// History
.historySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    align-items: start;
  }
  div {
    h2 {
      font-size: 100px;
      color: #24201d;
      text-align: start;
      @media (min-width: 768px) {
        font-size: 150px;
        text-align: initial;
      }
    }
    .img1 {
      background-color: gray;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 377px;
      height: 225px;
      margin: auto;
      @media (min-width: 768px) {
        width: 550px;
        height: 400px;
        margin: initial;
      }
    }

    .imgBigFirst {
      background-image: url(../../../assets/imgGrids/imgGridBig|.jpg);
    }
    .imgBigSecond {
      background-image: url(../../../assets/imgGrids/imgGridBig2.jpg);
    }
    span {
      margin-top: 1rem;
      display: block;
    }
  }
  h3 {
    font-size: 28px;
    max-width: 400px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 35px;
      text-align: initial;
    }
  }
  .txtMin {
    min-height: 300px;
  }

  .logoMin {
    height: 220px;
    margin: auto;
    position: relative;
    bottom: -35px;
    @media (min-width: 768px) {
      height: 255px;
      bottom: -22px;
    }
  }
}

// VIDEO
.videoCont {
  background-color: #24201d;
  color: white;
  display: grid;
  place-items: center;
  height: 400px;
  h2 {
    font-size: 120px;
    @media (min-width: 768px) {
      font-size: 200px;
    }
  }
}

.textNumbers {
  .firstTxt {
    font-size: 123px;
    margin-top: 0;
    color: #847946;
    margin-top: -3rem;
    @media (min-width: 768px) {
      margin-top: -6rem;
      font-size: 210px;
    }
  }
  .secondTxt {
    font-size: 72px;
    margin-top: -4rem;
    @media (min-width: 768px) {
      font-size: 90px;
      margin-top: -8rem;
    }
  }
}

.dateTxt {
  .flex {
    .rodeo {
      p {
        color: #847946;
        font-size: 74px;
        margin-bottom: -17px;
        @media (min-width: 768px) {
          margin-bottom: -25px;
          font-size: 90px;
        }
      }
      span {
        color: black;
        font-size: 160px;
        margin-top: -6rem;
        @media (min-width: 768px) {
          font-size: 250px;
          margin-bottom: -25px;
          margin-top: -8rem;
        }
      }
    }
    .hr {
      height: 133px;
      width: 8px;
      color: #847946;
      background-color: #847946;
      margin-top: 2rem;
      @media (min-width: 768px) {
        height: 202px;
        margin-top: 3rem;
      }
    }
  }
  .sepTXT {
    color: #847946;
    font-size: 68px;
    margin-top: -6rem;
    @media (min-width: 768px) {
      font-size: 90px;
      margin-top: -6rem;
    }
  }
  img {
    height: 188px;
    @media (min-width: 768px) {
      height: 390px;
    }
  }
}

// GOLD section
.goldDiv {
  background-color: #847946;
  width: 100%;
  height: 120px;
  display: grid;
  place-items: center;
  @media (min-width: 768px) {
    height: 244px;
  }
  h2 {
    color: white;
    font-size: 25px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 70px;
    }
  }
}

// GRIDS
.gridsDiv {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    justify-items: center;
  }
  div {
    .imgGrid {
      width: 350px;
      height: 250px;
      background-color: #847946;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 8px white solid;
    }

    .imgFirst {
      background-image: url(../../../assets/imgGrids/imgGrid1.jpg);
    }
    .imgSecond {
      background-image: url(../../../assets/imgGrids/imgGrid2.jpg);
    }
    .imgThird {
      background-image: url(../../../assets/imgGrids/imgGrid3.jpg);
    }

    .imgFourth {
      background-image: url(../../../assets/imgGrids/imgGrid4.jpg);
    }
    h3 {
      font-size: 45px;
      line-height: 1;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 12px;
          height: 12px;
        }
      }
    }
    .flexEndAux {
      li {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

// PATROCINADORES LOGOS
.logos {
  gap: 0.5rem;
  @media (min-width: 768px) {
    gap: 1rem;
  }
  img {
    width: 60px;
    @media (min-width: 768px) {
      width: 180px;
    }
  }
  @media (min-width: 768px) {
    gap: 3rem;
  }

  .aux2 {
    width: 100px;
    @media (min-width: 768px) {
      width: 250px;
    }
  }
  .aux3 {
    width: 150px;
    @media (min-width: 768px) {
      width: 300px;
    }
  }
  .aux4 {
    width: 30px;
    @media (min-width: 768px) {
      width: 100px;
    }
  }
}
// Patrocinadores 2
.logos2 {
  gap: 0.3rem;
  img {
    width: 50px;
    @media (min-width: 768px) {
      width: 150px;
    }
  }
  .aux2 {
    width: 55px;
    @media (min-width: 768px) {
      width: 160px;
      margin: 0 1rem;
    }
  }
  .aux3 {
    width: 40px;
    @media (min-width: 768px) {
      width: 130px;
    }
  }
  .aux4 {
    width: 77px;
    @media (min-width: 768px) {
      width: 200px;
    }
  }
  .aux5 {
    width: 70px;
    @media (min-width: 768px) {
      width: 170px;
      margin: 0 -0.5rem;
    }
  }
  .aux6 {
    width: 51px;
    @media (min-width: 768px) {
      width: 119px;
    }
  }
}

.logos3 {
  gap: 0.3rem;
  img {
    width: 30px;
    @media (min-width: 768px) {
      width: 80px;
    }
  }
  @media (min-width: 768px) {
    gap: 1rem;
  }
  .aux1 {
    width: 46px;
    @media (min-width: 768px) {
      width: 120px;
    }
  }
  .aux2 {
    width: 61px;
    @media (min-width: 768px) {
      width: 152px;
      margin: 0 -1rem;
    }
  }
  .aux3 {
    width: 61px;
    @media (min-width: 768px) {
      width: 152px;
    }
  }
  .aux4 {
    width: 53px;
    @media (min-width: 768px) {
      width: 124px;
      margin-left: -0.6rem;
    }
  }

  .aux8 {
    width: 43px;
    @media (min-width: 768px) {
      width: 114px;
    }
  }
}

.redesTXT {
  font-size: 40px;
}

// Google maps
iframe {
  width: 100%;
  height: 400px;
  @media (min-width: 768px) {
    width: 100%;
    height: 450px;
  }
}

// FOOTER
footer {
  height: 300px;
  width: 100%;
  background-color: #847946;
  .footerTxt {
    text-align: center;
    h2 {
      color: white;
      font-size: 50px;
    }
    p,
    a {
      color: white;
      font-size: 20px;
    }
    .txtBlack {
      color: black;
      font-size: 25px;
    }
    @media (min-width: 768px) {
      text-decoration: initial;
    }
  }
  .mediumImg {
    height: 200px;
  }
  div {
    .lastImg {
      width: 250px;
    }
    .redesGrid {
      a {
        width: 30px;
      }
    }
  }
}

// clases auxiliares
.txtUp {
  position: relative;
  font-size: 30px;
  top: -2rem;
  position: relative;
  @media (min-width: 768px) {
    top: -3.5rem;
  }
}

.txtWidth {
  color: #24201d;
  margin-top: -8px;
  max-width: 377px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    max-width: 550px;
    margin-top: -23px;
    margin-left: 0;
  }
}

.dDesk {
  display: none;
  @media (min-width: 768px) {
    display: grid;
  }
}
.dMob {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}
