<div class="heroMain">
  <img class="logohero" src="../../../assets/logoHero.png" alt="" />
</div>
<div class="bgMain">
  <div class="container mx-auto">
    <div class="headerContainer flex items-center gap-8 justify-center">
      <img src="../../../assets/rombo-dorado.svg" alt="" />
      <h2 class="rodeo">Bienvenidos</h2>
      <img src="../../../assets/rombo-dorado.svg" alt="" />
    </div>

    <!-- toolbar  -->
    <nav class="relative mt-6">
      <!-- <img class="absolute left-1" src="" alt="Logoimg" />  -->
      <ul
        class="list-nav stagSemiBold flex md:flex-row flex-col items-center justify-center"
      >
        <li><a href="">SOMOS RS23</a></li>
        <li>
          <a class="" href="">Participación</a>
          <!-- <ul class="subMenu">
            <li><a href="">Gastronomía</a></li>
            <li><a href="">Cabalgata</a></li>
            <li><a href="">Barrileada 2023</a></li>
            <li><a href="">Gastronomía</a></li>
          </ul> -->
        </li>
        <li><a href="">Visitantes</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </nav>

    <!-- History  -->
    <div class="historySection md:mt-20 mt-0">
      <div>
        <div class="txtMin">
          <h2 class="rodeo">Historia</h2>
          <p class="stagMedium">
            A finales del 2017 un grupo de empresarios de rodeo se unieron para
            diseñar una actividad denominada festival Rodeo Saltillo,
            completando su primera edición en marzo del 2018 con una duración de
            tres días, compuesto básicamente por cuatro elementos que tienen que
            ver con la cultura, el deporte, gastronomía y turismo.
          </p>
        </div>

        <div class="img1 imgBigFirst"></div>

        <h2 class="rodeo">4°EDICION</h2>
        <p class="stagMedium">
          la firme determinación de ofrecer sana recreación con espectáculos y
          exhibiciones de la más alta calidad. Estamos listos para el desarrollo
          de competencias, con espacios de cultura y entretenimiento 100%
          familiar. ¡PONTE VAQUERO SALTILLO, LA FIESTA NOS UNE!
        </p>

        <span>PONTE VAQUERO SALTILLO QUE VUELVE LA FIESTA</span>
      </div>
      <div>
        <div class="txtMin">
          <img class="logoMin" src="../../../assets/logoBig.png" alt="" />
        </div>
        <div class="img1 imgBigSecond mx-auto"></div>
        <div class="flex flex-col items-center textNumbers">
          <h3 class="stagMedium mt-5">
            Para esta cuarta Edición se estima la afluencia de:
          </h3>
          <p class="rodeo firstTxt">50 a 70</p>
          <p class="rodeo secondTxt">MIL PERSONAS</p>
        </div>
      </div>
    </div>

    <!-- VIDEO  -->
    <div class="videoCont mb-12">
      <h2 class="rodeo">Video</h2>
    </div>

    <!-- SECOND HEADER  -->
    <div class="headerContainer flex items-center justify-center">
      <img src="../../../assets/rombo-dorado.svg" alt="" />
      <h2 class="rodeo">EDICION 2023</h2>
      <img src="../../../assets/rombo-dorado.svg" alt="" />
    </div>

    <div class="dateTxt flex flex-col items-center relative">
      <div class="flex justify-center gap-6">
        <div class="rodeo flex flex-col items-center">
          <p>DEL</p>
          <span>22</span>
        </div>
        <hr class="hr" />
        <div class="rodeo flex flex-col items-center">
          <p>AL</p>
          <span>24</span>
        </div>
      </div>
      <p class="rodeo sepTXT">DE SEPTIEMBRE</p>
      <img
        class="absolute -left-20 -bottom-80"
        src="../../../assets/jineteLeft.png"
        alt=""
      />
      <img
        class="absolute md:-right-20 -right-16 md:-bottom-72 -bottom-64"
        src="../../../assets/jineteRight.png"
        alt=""
      />
    </div>

    <div class="goldDiv mt-10">
      <h2 class="stagSemiBold">
        Instalaciones <br />
        de la Feria de Saltillo
      </h2>
    </div>

    <!-- GRIDS  -->
    <div class="gridsDiv mt-20">
      <div class="flex flex-col items-end">
        <div class="imgGrid imgFirst"></div>
        <h3 class="stagSemiBold mt-6">
          Festival <br />
          cultural
        </h3>
        <ul class="flexEndAux">
          <li>
            Concierto de música norteña y country.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Exposición artesanal y de artículos vaqueros.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Exposición de patrocinadores.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Exhibición de autos clásicos.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Exhibición de la montura más grande del mundo.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Exhibición de carreras del viejo oeste.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Pequeño oeste - Western Kid.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-start">
        <div class="imgGrid imgSecond"></div>
        <h3 class="stagSemiBold mt-6">
          Exposición <br />
          y Exhibición <br />
          de Animales
        </h3>
        <ul>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Exhibición de ganado bovino, equino, obvino y caprino.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Exhibición de perros adiestrados.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Exposición de aves.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Competencia hípica.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Cabalgata.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Show de caballos bailadores.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Competencia de mulares y asnales.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Exhibición de caballos de alta escuela.
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-end">
        <div class="imgGrid imgThird"></div>
        <h3 class="stagSemiBold">Gastronomía</h3>
        <ul class="flexEndAux">
          <li>
            Degustación de Vinos de Coahuila.
            <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Cena de Gala.<img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>
            Rodeo Grill: <img src="../../../assets/rombo-dorado.svg" alt="" />
          </li>
          <li>- Concurso de BBQ.</li>
          <li>- Concurso de BBQ.</li>
        </ul>
      </div>
      <div class="flex flex-col items-start">
        <div class="imgGrid imgFourth"></div>
        <h3 class="stagSemiBold">Rodeo</h3>
        <ul>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Show de Bull Fighters.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Super Bull anual internacional.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Super Bull anual internacional Wrangler, participando <br />
            vaqueros de:
            <br />
            Estados Unidos, Canadá, Brasil, Costa Rica y Puerto Rico.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Rodeo de las Estrellas Reining.
          </li>

          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Rodeo Infantil.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Súper carrera de barriles.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Barrel Racer Elite. NBHA.
          </li>
          <li>
            <img src="../../../assets/rombo-dorado.svg" alt="" />
            Competencia de lazada nacional.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Patrocinadores  -->

  <!-- THIRD HEADER  -->
  <div class="headerContainer flex items-center gap-8 justify-center">
    <img src="../../../assets/rombo-dorado.svg" alt="" />
    <h2 class="rodeo">
      NUESTROS <br />
      PATROCINADORES
    </h2>
    <img src="../../../assets/rombo-dorado.svg" alt="" />
  </div>

  <div class="flex gap-4 items-center logos justify-center mt-6">
    <img src="../../../assets/logos/logo1.png" alt="" />
    <img src="../../../assets/logos/logo2.png" alt="" />
    <img src="../../../assets/logos/logo3.png" alt="" />
    <img src="../../../assets/logos/logo4.png" alt="" />
  </div>

  <div class="flex gap-4 items-center logos2 justify-center mt-3">
    <img src="../../../assets/logos/logo5.png" alt="" />
    <img src="../../../assets/logos/logo6.png" alt="" />
    <img src="../../../assets/logos/logo7.png" alt="" />
    <img src="../../../assets/logos/logo8.png" alt="" />
    <img src="../../../assets/logos/logo9.png" alt="" />
    <img src="../../../assets/logos/logo10.png" alt="" />
  </div>

  <div class="flex gap-4 items-center logos3 justify-center mt-3">
    <img src="../../../assets/logos/logo11.png" alt="" />
    <img src="../../../assets/logos/logo12.png" alt="" />
    <img src="../../../assets/logos/logo13.png" alt="" />
    <img src="../../../assets/logos/logo14.png" alt="" />
    <img src="../../../assets/logos/logo15.png" alt="" />
    <img src="../../../assets/logos/logo16.png" alt="" />
    <img src="../../../assets/logos/logo17.png" alt="" />
    <img src="../../../assets/logos/logo18.png" alt="" />
  </div>

  <!-- REDES  -->
  <div class="flex flex-col gap-3 items-center mt-12">
    <div class="logosRedes flex justify-center gap-3">
      <img src="../../../assets/logosRedes/tiktok.svg" alt="" />
      <img src="../../../assets/logosRedes/facebook.svg" alt="" />
      <img src="../../../assets/logosRedes/instagram.svg" alt="" />
      <img src="../../../assets/logosRedes/xtwitter.svg" alt="" />
    </div>
    <h3 class="stagSemiBold redesTXT">Festival Rodeo Saltillo</h3>
  </div>

  <div class="flex justify-center mt-4">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.9939536522866!2d-100.9168056245356!3d25.438465677556323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86880d8b74ec0d5d%3A0x787e4db7e726919c!2sExpo%20Feria%20de%20Saltillo!5e0!3m2!1ses!2smx!4v1693853674746!5m2!1ses!2smx"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <footer class="mt-6 flex justify-around items-center">
    <div class="footerTxt flex flex-col gap-1">
      <h2 class="underline stagSemiBold">Visítanos!</h2>
      <p class="txtBlack stagSemiBold">Festival Rodeo Saltillo</p>
      <p>Av. Universidad #1060. Saltillo, Coahuila</p>
      <a href="tel:8442181090">8442181090</a>
      <a href="mailto:festivalrodeosaltillo.com">Enviar Correo</a>
      <a class="stagSemiBold" href="www.festivalrodeosaltillo.com"
        >www.festivalrodeosaltillo.com</a
      >
    </div>
    <img
      class="mediumImg"
      src="../../../assets/footer/logoFootermedio.png"
      alt=""
    />
    <div class="flex flex-col gap-1">
      <img
        class="lastImg"
        src="../../../assets/footer/LOGO SOMBRERO-05.svg"
        alt=""
      />
      <div class="flex items-center justify-center gap-2 redesGrid">
        <a href=""
          ><img src="../../../assets/logosRedes/tiktok.svg" alt=""
        /></a>
        <a href=""
          ><img src="../../../assets/logosRedes/facebook.svg" alt=""
        /></a>
        <a href=""
          ><img src="../../../assets/logosRedes/instagram.svg" alt=""
        /></a>
        <a href=""
          ><img src="../../../assets/logosRedes/xtwitter.svg" alt=""
        /></a>
      </div>
    </div>
  </footer>
</div>
